.article__title, .section__title {
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 30px;
}

.section__title {
    font-size: 36px;
}

.navigation-block__title, .footer__title {
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 20px;
}

.navigation__item, .list__item {
    margin-bottom: 10px;
}

.navigation__item:last-child, .list__item:last-child {
    margin-bottom: 0;
}
.article__text {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
}

.article__text:last-child {
    margin-bottom: 0;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.section {
    padding: 25px 0;
}

.section:first-child {
    padding-top: 60px;
}

.section:last-child {
    padding-bottom: 50px;
}

.navigation-block, .footer-block {
    background: #F1F1F1;
    border-radius: 10px;
    padding: 25px 20px;
}

.image {
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

.image:last-child {
    margin-bottom: 0;
}

.image-margin0 {
    margin-bottom: 0;
}