.article__title, .section__title {
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 30px;
}

.section__title {
    font-size: 36px;
}

.article__text {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
}

.article__text:last-child {
    margin-bottom: 0;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.container-margin50 {
    margin-bottom: 50px;
}

.section {
    padding: 25px 0;
}

.section:first-child {
    padding-top: 60px;
}

.section:last-child {
    padding-bottom: 50px;
}

.image {
    display: block;
    margin: 0 auto 30px;
}

.image:last-child {
    margin-bottom: 0;
}

.image-margin0 {
    margin-bottom: 0;
}